@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #ffffff;
  --foreground-light: #171717;
  --background-dark: #171717;
  --foreground-dark: #ffffff;
  --purple-purple: purple;
  --purple-hover: #cb80ff;
  --yellow-yellow: #ffd700;
  --yellow-hover: #e9aa2b;
}
/* .light {
}
.dark {
  
} */

body {
  color: var(--foreground-dark);
  background: var(--background-dark);
  overflow-x: hidden;
}
