#the-form {
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 20px 20px #ffc7ff;
  width: 60vw;
  height: 45vh;
  margin-top: 20px;
  margin-bottom: 10px;

  overflow-x: hidden;
  /* left: 50%;
  transform: translateX(-50%); */
}

.form-section {
  position: relative;
  width: 95%;
  margin: 5px;
  text-align: center;
  font-size: large;
}
.title {
  color: white;
  font-size: 30px;
}

#submit-button {
  background-color: var(--purple-purple);
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

#post {
  height: 30vh;
}
input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  /* overflow-y: scroll; */
}
input[type="text"]::placeholder,
textarea ::placeholder {
  font-size: 18px;
}

#submit-button:hover {
  background-color: var(--purple-hover);
}

@media ((width<=825px)) {
  #the-form {
    width: 600px;
  }
}

@media ((width<=625px)) {
  #the-form {
    width: 450px;
  }
}
@media ((width<=475px)) {
  #the-form {
    width: 300px;
  }
}
@media ((width<=350px)) {
  #the-form {
    width: 200px;
  }
}
